body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f5f7;
    position: relative;
    min-height: 100%;
}

h1 {
    border-bottom: #2c3137 solid 1px;
    line-height: 100px;
    text-align: center;
    margin: 0;
}

.leftCol {
    position: absolute;
    top: 0;
    left: -240px;
    width: 240px;
    background-color: rgb(30, 35, 41);
    color: #bcbcbc;
    font-size: 20px;
    min-height: 100%;
}

.projectList {
    padding: 0;
    margin: 40px 20px;
    list-style: none;

    & > li {
        padding: 23px 0;
        border-bottom: #2c3137 solid 1px;
    }

    & > li.active > a {
        color: #fff;
    }
}

.sprintList {
    padding: 0;
    list-style: none;

    & > li {
        margin: 20px 10px;

        &.active > a {
            color: #fff;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.leftCol a {
    color: #bcbcbc;
    text-decoration: none;
    display: block;

    &:hover {
        color: #fff;
    }
}

.projectList + .addButton {
    margin: 20px;
    display: block;
    background: none;
    border: #2c3137 solid 1px;
    color: #bcbcbc;
    font-size: 20px;
    text-align: center;
    padding: 16px;

    &:before {
        content: '+';
        margin-right: 10px;
    }
}

.main {
    margin-left: 0;
}

.main-header {
    line-height: 100px;
    font-size: 30px;
    color:#90989b;
    border-bottom: #bcbcbc solid 1px;
    background-color: #fff;

    & > span:first-child {
        margin-left: 40px;
    }

    & > span:before {
        content: '>';
        margin: 0 10px;
    }

    & > span:first-child:before {
        display: none;
    }
}

.currentUser {
    float: right;
    margin-right: 40px;
    font-size: 20px;
    color: #1e2329;

    &-initials {
        margin-left: 20px;
        padding: 7px 15px;
        background-color: #99c939;
        color: #fff;
    }
}

.main-content {
    padding: 20px;

    & > div {
        flex-grow: 1;
    }
}

.itemList {
    margin: 20px;
    background-color: #fff;

    &-header {
        height: 30px;
        line-height: 30px;
        background-color: #48c3ff;
        color: #fff;
        padding: 20px;
        font-size: 20px;
    }

    &-header > h3 {
        margin: 0;
    }

    &-content {
        padding-top: 20px;
        border-left: #eee solid 1px;
        border-right: #eee solid 1px;

        &.noFooter {
            border-bottom: #eee solid 1px;
        }
    }

    &-item {
        margin: 20px;
        padding-bottom: 10px;
        border-bottom: #eee solid 1px;
        overflow: hidden;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }

        & > a {
            font-weight: lighter;
            font-size: 20px;
            color: #1e2329;
            text-decoration: none;
            display: block;
        }

        &-footer {
            color: #d3dae2;
            margin-top: 10px;

            & > span {
                margin-right: 20px;
                line-height: 30px;
                height: 30px;
                margin-bottom: 5px;
            }
        }
    }

    &-comments:before {
        content: "\1F4AC";
        margin-right: 10px;
    }

    &-comments:hover:before {
        color: #48c3ff;
    }

    &-attachments:before {
        content: "\1F4CE";
        margin-right: 5px;
    }

    &-assignee {
        float: right;
        background: #ffbc2f;
        padding: 0 5px;
        color: #fff;
        margin-right: 0;
    }
}

.blackButton {
    text-decoration: none;
    display: block;
    background: #1e2329;
    color: #bcbcbc;
    font-size: 20px;
    text-align: center;
    padding: 16px;

    &:before {
        content: '+';
        margin-right: 10px;
    }

    &:hover {
        color: #fff;
    }
}

@media (min-width : 640px) {
    .leftCol {
        left: 0;
    }

    .main {
        margin-left: 240px;
    }

    .itemList {
        min-width: 300px;
    }

    .main-content {
        display: flex;
        flex-wrap: wrap;
    }
}
